.fixtures-list li {
  border-bottom: 2px solid lightgray;
  padding: 30px 0 30px 0;
  font-size: 24px;
}

.fixtures-list li:last-child {
  border-bottom: none;
}

.fixtures-list li .fixture-teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixtures-list li span {
  display: inline-block;
  justify-content: center;
  word-break: break-word;
}

.fixtures-list li img {
  width: 80px;
  height: 80px;
}

.fixtures-list li span.team-name {
  width: 100%;
}

.fixtures-list li span.versus {
  font-weight: bold;
  display: inline-block;
  margin: 0 20px 0px;
  width: 100px;
}

.fixtures-list li span.scores {
  font-weight: bold;
  display: inline-block;
  margin: 0 0 20px 0;
  width: 100px;
}

.fixtures-list li .fixture-date {
  margin-bottom: 20px;
}

.fixtures-list li .game-status {
  display: blok;
  margin: 10px auto;
  background-color: lightgreen;
  border-radius: 8px;
  padding: 5px;
  width: 40%;
}

.fixtures-list .edit-mode-scores {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto 30px auto;
}

.edit-mode-scores div {
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .fixtures-list li img {
    display: none;
  }

  .fixtures-list li .fixture-teams {
    align-items: flex-start;
  }

  .fixtures-list li .game-status {
    display: blok;
    margin: 10px auto;
    background-color: lightgreen;
    border-radius: 8px;
    padding: 5px;
    width: 90%;
  }

  .fixtures-list .edit-mode-scores {
    width: 100%;
  }

}
