.teams-listing {
  display: flex;
  justify-content: center;
}

.full-team-list {
  width: 70%;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .full-team-list {
    width: 100%;
    margin: 20px 0 20px 0;
  }
}

.full-team-list li {
  display: flex;
  font-size: 24px;
  padding: 20px 0 20px 0;
  align-items: center;
  justify-content: space-between;
  background: url('/images/noShield.png') 0 0;
  border-bottom: 1px solid lightgray;
}

.full-team-list li:last-child {
    border-bottom: none;
}

li .team-shield {
  margin-right: 20px;
}

li .team-name {
  flex-grow: 3;
  justify-content: flex-start;
}

li .team-points {
  font-weight: bold;
  font-size: 24px;
}

li .team-shield img {
  width: 60px;
  height: 60px;
}
