@import url('./date-picker.css');
@import url('./time-picker.css');

.fixtures-selection {
  display: flex;
  justify-content: space-between;
}

.fixtures-date-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fixture-verses {
  padding: 0 20px 0;
}

.team-results {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fixtures-tournament-selection{
  margin-top: 30px;
}

.team-results .scores-select {
  width: 40%;
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .fixtures-selection {
    display: block;
  }

  .fixtures-date-container {
    display: block;
  }

  .team-results {
    display: block;
  }

  .team-results .scores-select {
    display: block;
    width: 100%; 
    margin: 10px 0 10px;
  }
}
