.score-buttons {
  margin-top: 20px;
}

.score-buttons .points-button {
  width: 50px;
  border-radius: 50%;
  border: 2px solid  darkgray;
  font-size: 24px;
  margin-right: 20px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  opacity: .7;
  margin: 0 10px 0px 0;
}

.score-buttons .points-button:last-child {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .score-buttons .points-button {
    margin: 0 5px 0px 0;
  }

  .score-buttons .points-button:last-child {
    margin: 0;
  }
}

.score-buttons .points-button:hover {
  opacity: 1;
}

.score-buttons .win {
  background-color: lightgreen;
}

.score-buttons .draw {
  background-color: orange;
}

.score-buttons .loss {
  background-color: lightcoral;
}

.score-buttons .disabled,
.score-buttons .disabled:hover {
  background-color: lightgray;
  border: 2px solid  black;
  opacity: 1;
  color: black;
}


